In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

import pandas as pd 
import re 
import nltk

# Import and analyse the data set.

In [3]:
df=pd.read_csv("/content/drive/MyDrive/dataset/NLP Blog Dataset/Dataset - blogtext.csv")

In [4]:
df.head(10)

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...
5  3581210  ...               I had an interesting conversation...
6  3581210  ...               Somehow Coca-Cola has a way of su...
7  3581210  ...               If anything, Korea is a country o...
8  3581210  ...               Take a read of this news article ...
9  3581210  ...               I surf the English news sites a l...

[10 rows x 7 columns]

In [5]:
df.isna().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [6]:
df.shape

(681284, 7)

In [14]:
df_sample=df[0:30000].copy()

In [15]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      30000 non-null  int64
 1   gender  30000 non-null  object
 2   age     30000 non-null  int64
 3   topic   30000 non-null  object
 4   sign    30000 non-null  object
 5   date    30000 non-null  object
 6   text    30000 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.6+ MB

In [16]:
df_sample.drop(['id','date'], axis=1, inplace=True)

In [17]:
df_sample.head(10)

  gender  age  ...      sign                                               text
0   male   15  ...       Leo             Info has been found (+/- 100 pages,...
1   male   15  ...       Leo             These are the team members:   Drewe...
2   male   15  ...       Leo             In het kader van kernfusie op aarde...
3   male   15  ...       Leo                   testing!!!  testing!!!
4   male   33  ...  Aquarius               Thanks to Yahoo!'s Toolbar I can ...
5   male   33  ...  Aquarius               I had an interesting conversation...
6   male   33  ...  Aquarius               Somehow Coca-Cola has a way of su...
7   male   33  ...  Aquarius               If anything, Korea is a country o...
8   male   33  ...  Aquarius               Take a read of this news article ...
9   male   33  ...  Aquarius               I surf the English news sites a l...

[10 rows x 5 columns]

In [18]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  30000 non-null  object
 1   age     30000 non-null  int64
 2   topic   30000 non-null  object
 3   sign    30000 non-null  object
 4   text    30000 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [19]:
df_sample['age']=df_sample['age'].astype('object')

# Perform data pre-processing on the data

In [20]:
df_sample['preprocess_data']=df_sample['text'].apply(lambda x: re.sub(r'[^A-Za-z]+',' ',x))

In [21]:
df_sample['preprocess_data']=df_sample['preprocess_data'].apply(lambda x: x.lower())

In [22]:
df_sample['preprocess_data']=df_sample['preprocess_data'].apply(lambda x: x.strip())

In [23]:
print("Actual data=======> {}".format(df_sample['text'][1]))

Actual data=======>            These are the team members:   Drewes van der Laag           urlLink mail  Ruiyu Xie                     urlLink mail  Bryan Aaldering (me)          urlLink mail

In [24]:
print("Cleaned data=======> {}".format(df_sample['preprocess_data'][1]))

Cleaned data=======> these are the team members drewes van der laag urllink mail ruiyu xie urllink mail bryan aaldering me urllink mail

In [25]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))

In [27]:
df_sample['preprocess_data']=df_sample['preprocess_data'].apply(lambda x: ' '.join([words for words in x.split() if words not in stopwords]))

In [18]:
df_sample['preprocess_data'][6]

'somehow coca cola way summing things well early flagship jingle like buy world coke tune like teach world sing pretty much summed post woodstock era well add much sales catchy tune korea coke theme urllink stop thinking feel pretty much sums lot korea koreans look relaxed couple stopped thinking started feeling course high regard education math logic deep think many koreans really like work emotion anything else westerners seem sublimate moreso least display different way maybe scratch westerners koreans probably pretty similar context different anyways think losing korea repeat stop thinking feel stop thinking feel stop thinking feel everything alright'

In [24]:
df_sample.head()

  gender  ...                                    preprocess_data
0   male  ...  info found pages mb pdf files wait untill team...
1   male  ...  team members drewes van der laag urllink mail ...
2   male  ...  het kader van kernfusie op aarde maak je eigen...
3   male  ...                                    testing testing
4   male  ...  thanks yahoo toolbar capture urls popups means...

[5 rows x 6 columns]

In [28]:
df_sample['labels']=df_sample.apply(lambda col: [col['gender'],str(col['age']),col['topic'],col['sign']], axis=1)

In [26]:
df_sample.head()

  gender  ...                                   labels
0   male  ...                 [male, 15, Student, Leo]
1   male  ...                 [male, 15, Student, Leo]
2   male  ...                 [male, 15, Student, Leo]
3   male  ...                 [male, 15, Student, Leo]
4   male  ...  [male, 33, InvestmentBanking, Aquarius]

[5 rows x 7 columns]

In [29]:
df_sample=df_sample[['preprocess_data','labels']]

In [21]:
df_sample.head()

                                     preprocess_data                                   labels
0  info found pages mb pdf files wait untill team...                 [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...                 [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...                 [male, 15, Student, Leo]
3                                    testing testing                 [male, 15, Student, Leo]
4  thanks yahoo toolbar capture urls popups means...  [male, 33, InvestmentBanking, Aquarius]

In [30]:
X=df_sample['preprocess_data']

In [31]:
Y=df_sample['labels']

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
vectorizer=CountVectorizer(binary=True, ngram_range=(1,2))

In [26]:
df_sample.head(10)

                                     preprocess_data                                   labels
0  info found pages mb pdf files wait untill team...                 [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...                 [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...                 [male, 15, Student, Leo]
3                                    testing testing                 [male, 15, Student, Leo]
4  thanks yahoo toolbar capture urls popups means...  [male, 33, InvestmentBanking, Aquarius]
5  interesting conversation dad morning talking k...  [male, 33, InvestmentBanking, Aquarius]
6  somehow coca cola way summing things well earl...  [male, 33, InvestmentBanking, Aquarius]
7  anything korea country extremes everything see...  [male, 33, InvestmentBanking, Aquarius]
8  take read news article urllink joongang ilbo n...  [male, 33, InvestmentBanking, Aquarius]
9  surf english news sites lot looking tidbits ko...  [male, 33, InvestmentBanking, Aquarius]

In [34]:
X=vectorizer.fit_transform(X)

In [35]:
X[1]

<1x1871136 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [29]:
vectorizer.get_feature_names()[:5]

['aa', 'aa aa', 'aa aaa', 'aa aaaa', 'aa aaaaa']

In [36]:
label_counts=dict()

for labels in df_sample.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label]+=1
        else:
            label_counts[label]=1

In [37]:
label_counts

{'13': 548,
 '14': 1190,
 '15': 1535,
 '16': 2782,
 '17': 2868,
 '23': 3554,
 '24': 3184,
 '25': 1371,
 '26': 1667,
 '27': 3188,
 '33': 1386,
 '34': 925,
 '35': 2553,
 '36': 1760,
 '37': 186,
 '38': 142,
 '39': 132,
 '40': 183,
 '41': 95,
 '42': 48,
 '43': 55,
 '44': 10,
 '45': 78,
 '46': 204,
 '47': 105,
 '48': 251,
 'Accounting': 63,
 'Advertising': 56,
 'Agriculture': 47,
 'Aquarius': 2866,
 'Architecture': 53,
 'Aries': 6856,
 'Arts': 1119,
 'Automotive': 116,
 'Banking': 109,
 'Biotech': 80,
 'BusinessServices': 218,
 'Cancer': 2370,
 'Capricorn': 1378,
 'Chemicals': 75,
 'Communications-Media': 865,
 'Construction': 28,
 'Consulting': 174,
 'Education': 1131,
 'Engineering': 756,
 'Fashion': 1622,
 'Gemini': 1498,
 'Government': 418,
 'HumanResources': 15,
 'Internet': 1232,
 'InvestmentBanking': 71,
 'Law': 56,
 'LawEnforcement-Security': 90,
 'Leo': 2424,
 'Libra': 1431,
 'Manufacturing': 211,
 'Maritime': 54,
 'Marketing': 354,
 'Military': 27,
 'Museums-Libraries': 194,
 'Non-Profit': 274,
 'Pisces': 2465,
 'Publishing': 125,
 'RealEstate': 17,
 'Religion': 182,
 'Sagittarius': 3012,
 'Science': 151,
 'Scorpio': 2229,
 'Sports-Recreation': 120,
 'Student': 4367,
 'Taurus': 1967,
 'Technology': 3266,
 'Telecommunications': 10,
 'Transportation': 46,
 'Virgo': 1504,
 'female': 14052,
 'indUnk': 12208,
 'male': 15948}

# Design, train, tune and test the best text classifier.

In [38]:
from sklearn.preprocessing import MultiLabelBinarizer
binarizer=MultiLabelBinarizer(classes=sorted(label_counts.keys()))

In [39]:
df_sample.head(10)

                                     preprocess_data                                   labels
0  info found pages mb pdf files wait untill team...                 [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...                 [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...                 [male, 15, Student, Leo]
3                                    testing testing                 [male, 15, Student, Leo]
4  thanks yahoo toolbar capture urls popups means...  [male, 33, InvestmentBanking, Aquarius]
5  interesting conversation dad morning talking k...  [male, 33, InvestmentBanking, Aquarius]
6  somehow coca cola way summing things well earl...  [male, 33, InvestmentBanking, Aquarius]
7  anything korea country extremes everything see...  [male, 33, InvestmentBanking, Aquarius]
8  take read news article urllink joongang ilbo n...  [male, 33, InvestmentBanking, Aquarius]
9  surf english news sites lot looking tidbits ko...  [male, 33, InvestmentBanking, Aquarius]

In [40]:
Y=binarizer.fit_transform(df_sample.labels)

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2)

In [43]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [44]:
model=LogisticRegression(solver='lbfgs')

In [45]:
model=OneVsRestClassifier(model)

In [46]:
model.fit(Xtrain,Ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [47]:
Ypred=model.predict(Xtest)

In [48]:
Ypred_inversed = binarizer.inverse_transform(Ypred)
y_test_inversed = binarizer.inverse_transform(Ytest)

# true vs predicted labels for any 5 entries from the dataset.

In [49]:
for i in range(5):
    print('Text:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        Xtest[i],
        ','.join(y_test_inversed[i]),
        ','.join(Ypred_inversed[i])
    ))

Text:	  (0, 918140)	1
  (0, 1312194)	1
  (0, 1770585)	1
  (0, 1841210)	1
  (0, 1653352)	1
  (0, 1569876)	1
  (0, 654956)	1
  (0, 925768)	1
  (0, 1099256)	1
  (0, 1370428)	1
  (0, 1498803)	1
  (0, 1138808)	1
  (0, 1141948)	1
  (0, 1290449)	1
  (0, 82450)	1
  (0, 723363)	1
  (0, 913374)	1
  (0, 667765)	1
  (0, 577995)	1
  (0, 236848)	1
  (0, 1629289)	1
  (0, 1225057)	1
  (0, 1505800)	1
  (0, 662418)	1
  (0, 807687)	1
  :	:
  (0, 787839)	1
  (0, 1184973)	1
  (0, 27373)	1
  (0, 926058)	1
  (0, 1638358)	1
  (0, 1046076)	1
  (0, 712999)	1
  (0, 1139281)	1
  (0, 513663)	1
  (0, 299432)	1
  (0, 1485254)	1
  (0, 1314680)	1
  (0, 1464448)	1
  (0, 1384789)	1
  (0, 1000423)	1
  (0, 907663)	1
  (0, 294236)	1
  (0, 1089110)	1
  (0, 1099563)	1
  (0, 236481)	1
  (0, 349874)	1
  (0, 17138)	1
  (0, 1166563)	1
  (0, 1513674)	1
  (0, 349882)	1
True labels:	23,Pisces,Student,female
Predicted labels:	female


Text:	  (0, 1729811)	1
  (0, 918140)	1
  (0, 1315673)	1
  (0, 654956)	1
  (0, 1026151)	1
  (0, 1613622)	1
  (0, 330527)	1
  (0, 1614394)	1
  (0, 924361)	1
  (0, 65849)	1
  (0, 1026628)	1
  (0, 331160)	1
  (0, 658252)	1
  (0, 1316176)	1
  (0, 918380)	1
  (0, 1734295)	1
True labels:	34,Education,Pisces,male
Predicted labels:	female,indUnk


Text:	  (0, 1729811)	1
  (0, 1622570)	1
  (0, 7171)	1
  (0, 574568)	1
  (0, 953684)	1
  (0, 57346)	1
  (0, 1595269)	1
  (0, 1219463)	1
  (0, 566677)	1
  (0, 662418)	1
  (0, 1000983)	1
  (0, 953689)	1
  (0, 127383)	1
  (0, 626535)	1
  (0, 551494)	1
  (0, 1663094)	1
  (0, 424508)	1
  (0, 1769614)	1
  (0, 385445)	1
  (0, 1167598)	1
  (0, 609429)	1
  (0, 1526501)	1
  (0, 7458)	1
  (0, 1002341)	1
  (0, 471743)	1
  :	:
  (0, 1220305)	1
  (0, 57412)	1
  (0, 424532)	1
  (0, 1622759)	1
  (0, 551585)	1
  (0, 1014041)	1
  (0, 1431997)	1
  (0, 310648)	1
  (0, 84917)	1
  (0, 1711277)	1
  (0, 1730008)	1
  (0, 60265)	1
  (0, 486350)	1
  (0, 1167677)	1
  (0, 313810)	1
  (0, 856452)	1
  (0, 1257646)	1
  (0, 471769)	1
  (0, 490929)	1
  (0, 527832)	1
  (0, 1198930)	1
  (0, 1206689)	1
  (0, 57377)	1
  (0, 996291)	1
  (0, 268786)	1
True labels:	23,BusinessServices,Cancer,female
Predicted labels:	male


Text:	  (0, 598122)	1
  (0, 1567666)	1
  (0, 1622570)	1
  (0, 1421928)	1
  (0, 16060)	1
  (0, 918140)	1
  (0, 616937)	1
  (0, 981241)	1
  (0, 860649)	1
  (0, 1582021)	1
  (0, 1315673)	1
  (0, 568506)	1
  (0, 1646008)	1
  (0, 1841210)	1
  (0, 1544544)	1
  (0, 1653352)	1
  (0, 672684)	1
  (0, 971516)	1
  (0, 1177772)	1
  (0, 642103)	1
  (0, 654956)	1
  (0, 469363)	1
  (0, 1707006)	1
  (0, 1742051)	1
  (0, 43448)	1
  :	:
  (0, 591114)	1
  (0, 1843997)	1
  (0, 1742205)	1
  (0, 1844044)	1
  (0, 1766709)	1
  (0, 1034557)	1
  (0, 92411)	1
  (0, 1418931)	1
  (0, 1255322)	1
  (0, 806456)	1
  (0, 429691)	1
  (0, 1702399)	1
  (0, 75403)	1
  (0, 1005106)	1
  (0, 1664155)	1
  (0, 746236)	1
  (0, 92354)	1
  (0, 284581)	1
  (0, 1393233)	1
  (0, 1575236)	1
  (0, 1834380)	1
  (0, 45742)	1
  (0, 720665)	1
  (0, 692414)	1
  (0, 931436)	1
True labels:	17,Aquarius,female,indUnk
Predicted labels:	17,Aquarius,female,indUnk


Text:	  (0, 801085)	1
  (0, 918140)	1
  (0, 934847)	1
  (0, 1315673)	1
  (0, 1694720)	1
  (0, 337168)	1
  (0, 964067)	1
  (0, 1544544)	1
  (0, 729021)	1
  (0, 672684)	1
  (0, 995666)	1
  (0, 897664)	1
  (0, 954829)	1
  (0, 1743830)	1
  (0, 503149)	1
  (0, 158075)	1
  (0, 723363)	1
  (0, 1284778)	1
  (0, 373348)	1
  (0, 948492)	1
  (0, 1838674)	1
  (0, 1459671)	1
  (0, 1736064)	1
  (0, 1719908)	1
  (0, 1193194)	1
  :	:
  (0, 59446)	1
  (0, 1643739)	1
  (0, 1105926)	1
  (0, 838855)	1
  (0, 246578)	1
  (0, 1737431)	1
  (0, 898499)	1
  (0, 1293643)	1
  (0, 955050)	1
  (0, 452493)	1
  (0, 936943)	1
  (0, 1378170)	1
  (0, 1746322)	1
  (0, 203841)	1
  (0, 429032)	1
  (0, 1597160)	1
  (0, 88974)	1
  (0, 585681)	1
  (0, 1266327)	1
  (0, 1325453)	1
  (0, 949357)	1
  (0, 1041204)	1
  (0, 373489)	1
  (0, 1439604)	1
  (0, 610119)	1
True labels:	36,Aries,Fashion,male
Predicted labels:	36,Aries,Fashion,male

In [50]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

def print_evaluation_scores(Ytest, Ypred):
    print('Accuracy score: ', accuracy_score(Ytest, Ypred))
    print('F1 score: ', f1_score(Ytest, Ypred, average='micro'))
    print('Average precision score: ', average_precision_score(Ytest, Ypred, average='micro'))
    print('Average recall score: ', recall_score(Ytest, Ypred, average='micro'))

In [51]:
print_evaluation_scores(Ytest, Ypred)

Accuracy score:  0.13
F1 score:  0.5017305906519964
Average precision score:  0.3192703543374753
Average recall score:  0.37145833333333333

# classification report

In [52]:
from sklearn.metrics import classification_report
cr = classification_report(Ytest, Ypred)
print(cr)

              precision    recall  f1-score   support

           0       1.00      0.04      0.07       112
           1       0.93      0.21      0.34       247
           2       0.84      0.12      0.22       329
           3       0.85      0.33      0.47       521
           4       0.79      0.20      0.31       594
           5       0.80      0.15      0.25       731
           6       0.89      0.30      0.45       638
           7       0.81      0.05      0.09       278
           8       0.85      0.07      0.13       324
           9       0.79      0.24      0.36       629
          10       0.71      0.06      0.11       286
          11       0.97      0.55      0.71       195
          12       0.84      0.27      0.41       490
          13       0.98      0.44      0.61       345
          14       1.00      0.03      0.05        40
          15       0.00      0.00      0.00        26
          16       0.00      0.00      0.00        29
          17       1.00      0.07      0.13        29
          18       0.00      0.00      0.00        18
          19       0.00      0.00      0.00        12
          20       0.00      0.00      0.00        14
          21       0.00      0.00      0.00         0
          22       0.00      0.00      0.00        12
          23       1.00      0.05      0.10        37
          24       0.00      0.00      0.00        21
          25       1.00      0.28      0.44        43
          26       0.00      0.00      0.00        11
          27       0.00      0.00      0.00        11
          28       0.00      0.00      0.00        13
          29       0.81      0.21      0.33       523
          30       1.00      0.08      0.14        13
          31       0.81      0.41      0.55      1328
          32       0.86      0.05      0.09       244
          33       0.00      0.00      0.00        28
          34       1.00      0.19      0.32        21
          35       0.00      0.00      0.00        15
          36       0.62      0.12      0.21        40
          37       0.86      0.12      0.21       527
          38       0.96      0.10      0.17       252
          39       1.00      0.06      0.12        16
          40       0.90      0.10      0.19       172
          41       0.00      0.00      0.00         2
          42       0.00      0.00      0.00        38
          43       0.88      0.12      0.21       254
          44       1.00      0.09      0.17       152
          45       0.99      0.46      0.63       313
          46       1.00      0.12      0.22       322
          47       1.00      0.04      0.08        93
          48       0.00      0.00      0.00         3
          49       1.00      0.06      0.12       254
          50       1.00      0.25      0.40        12
          51       0.00      0.00      0.00         9
          52       0.00      0.00      0.00        20
          53       0.86      0.10      0.18       482
          54       1.00      0.13      0.23       325
          55       0.00      0.00      0.00        49
          56       0.00      0.00      0.00        11
          57       1.00      0.05      0.10        60
          58       0.00      0.00      0.00         2
          59       1.00      0.42      0.60        40
          60       0.00      0.00      0.00        57
          61       0.79      0.11      0.20       501
          62       0.00      0.00      0.00        29
          63       0.00      0.00      0.00         5
          64       1.00      0.03      0.06        35
          65       0.93      0.37      0.53       586
          66       0.00      0.00      0.00        28
          67       0.83      0.05      0.09       480
          68       1.00      0.05      0.10        20
          69       0.71      0.22      0.33       899
          70       0.73      0.09      0.16       394
          71       0.80      0.24      0.36       638
          72       0.00      0.00      0.00         5
          73       0.00      0.00      0.00        10
          74       0.77      0.07      0.13       280
          75       0.77      0.69      0.73      2875
          76       0.69      0.53      0.60      2378
          77       0.74      0.81      0.77      3125

   micro avg       0.77      0.37      0.50     24000
   macro avg       0.58      0.13      0.19     24000
weighted avg       0.79      0.37      0.45     24000
 samples avg       0.73      0.37      0.46     24000

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
jupyter nbconvert --to html mynotebook.ipynb